/* opgave 1
*/

.pop{
  background-color: red;
color:antiquewhite;
width: 100px;
height: 100px;
text-align: center;
border-radius: 50px;

}

.pop:hover{
  animation-name: popUp;  
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-fill-mode: both;
 
}

.popTwo{
  background-color: rgb(241, 206, 7);
color:antiquewhite;
width: 100px;
height: 100px;
text-align: center;
border-radius: 50px;
}

.popTwo:hover{
  animation-name: popUpDown;
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;

}




.popThree{
  background-color: rgb(7, 90, 25);
color:antiquewhite;
width: 100px;
height: 100px;
text-align: center;
border-radius: 50px;
}

.popThree:hover{
  animation-name: popThree;
 
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-iteration-count: infinite;

}


@keyframes popUp{
  from {
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }

}



@keyframes popUpDown{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes popThree{
  from {
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
  
}